<h1 class="text-center">Crear Perfil</h1>
<div class="container">




        <img src="imgs/Crear_Perfil.png" alt="">
    <p class="text-center">

        Esta es la pantalla de creación de un perfil de usuario, esta se muestra cuando el usuario si desea ingresar datos para asi poder tener un registro propio, en esta se ingresan datos generales del usuario, se le da la opción de generar su nombre de usuario, ingresa el municipio en el que esta su parcela, su correo electrónico, asi como una contraseña, igualmente puede ingresar el número de hectáreas de cultivo que tiene, que al final de la cosecha pueda ingresar el número de hectáreas de cosecha que funcionaron o que fueron “Buenas”, esto con la finalidad de que tanto el usuario como los gestores de la aplicación puedan observar el impacto real de la aplicación sobre los cultivos y por ultimo puede seleccionar las variedades de maíz que siembra y asi poder obtener las notificaciones pertinentes sobre esas variedades en específico, al final muestra un enlace donde podrá leer el aviso de privacidad donde entre otras cosas especificara el uso que se le dará a sus datos, si presiona aceptar, se registra el usuario en la base de datos y automáticamente inicia sesión y se le muestran las recomendaciones para sus cultivos, si cancela la operación se devuelve a la pantalla principal.
    </p>
</div>