<h1 class="text-center">Información de la actualización del temporal</h1>


<div class="center container">
    <img src="imgs/info.png" alt="">
<p class="text-center">



    El objetivo de esta pantalla es informar que hay una actualización del temporal. Como ya sabemos este puede tener variaciones, entonces se dará a conocer la variación que vendrá incluida en el archivo actualizado. Se pretende que se visualice una barra la cual puede indicar al usuario si es que hay vulnerabilidad con el tipo de semilla que tiene sembrada. Se pretende indicar el nivel de vulnerabilidad. Estas actualizaciones vendrán cada 20 días
</p>


</div>