<h1 class="text-center">Login </h1>
<div class="container center">

    <img src="imgs/Login.png" alt="">

    <p class="text-center">

        Esta es la pantalla de Login (Inicio de Sesión), en ella se tienen las opciones de poder ingresar mediante un usuario o correo electrónico con su contraseña, esto en el caso de que el usuario desee proporcionar datos para generar un perfil, ingresando al formulario mediante la opción de ‘No tengo una cuenta’, si no lo desea, puede acceder mediante el botón de acceso anónimo que le permitirá hacer uso de toda la aplicación sin necesidad de proporcionar sus datos.


    </p>


</div>
