<h1 class="text-center">Perfil de Usuario </h1>
<div class="container center">

    <img src="imgs/Perfil_de_Usuario.png" alt="">

    <p class="text-center">

        En la pantalla de perfil de usuario, este puede actualizar su información, modificando campos como el nombre de usuario, su municipio, correo electrónico, contraseña y hectáreas de cultivo y el tipo de  semilla que esta usando  que tiene esta información será requerida paulatinamente y solo si el usuario desea hacerlo en ese momento  , si no desea hacerla sera redirigido a la pantalla de recomendaciones

    </p>


</div>
