<h1 class="text-center">Recomendaciones</h1>
<div class="container">

    <img src="imgs/recomienda.png" alt="">

    <p class="text-center">

En esta  pantalla se darán las especificaciones del temporal actual y como es que se encuentra con la última actualización. También se dará a conocer el tipo de semilla que el INIFAP recomienda para ese dicho temporal, con información más detallada ej. "Debido a que el temporal es niño se recomienda la semilla tipo gatito". Puede ser más detallada. En la fecha recomendada. se dará a conocer una fecha en la que se recomienda realizar la producción del máiz esto con objetivo de tener control y administración  de las diferentes fechas con los diferentes productores para que se puedan sincronizar lo mejor posible y no tener problemas en el desarrollo del maíz.

    </p>


</div>